numpy==1.26.4
pandas==2.2.3
protobuf==5.29.3
quickumls==1.4.2
scispacy==0.5.5
sentencepiece==0.2.0
spacy==3.7.5
textstat==0.7.5
tiktoken==0.8.0
torch==2.6.0
transformers==4.48.3
datasets==3.2.0
tqdm==4.67.1
fasttext==0.9.3
gensim==4.3.3
sentence-transformers==3.4.1
nltk==3.9.1
stanza==1.10.1
scipy==1.13.1
pyphen==0.17.2
cmudict==1.0.32
bs4==0.0.2
xgboost==2.1.4
lmdeploy==0.6.1
fastcoref==2.1.6
pytorch-crf==0.7.2